@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Даний програмний продук було розроблено студентами групи ПЗ-31з в рамках “Архітектура і проектування програмного забезпечення”</p>
